@import 'tailwindcss';

:root {
  --primary: #ee811b;
  --bg-white: #fbfbfb;
  --bg-black: #030303;
  --ntrl-white: #f7f7f7;
  --ntrl-black: #3d3d3d;
}

@theme inline {
  --color-background: var(--bg-white);
  --color-foreground: var(--bg-black);
  --font-sans: var(--font-noto-sans);
  --font-heading: var(--font-tomorrow);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--bg-white);
  color: var(--bg-black);
  font-family: Arial, Helvetica, sans-serif;
}
